// app global css in Stylus form
@media (max-width: 1368px)
  body
    zoom: 80%;
    -moz-transform: scale(.8); 
    -moz-transform-origin: 0 0;

  .min-height
    min-height: 768px !important;

@media (min-width: 1920px)
  body
    zoom: 90%;
    


